<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Convolved.Logging.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Convolved.Logging.Service.Properties.Settings.LogDbConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ConvolvedTest;Integrated Security=True" />
  </connectionStrings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="logging" type="Convolved.Hosting.ErrorLoggingElement, Convolved.Hosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <logging/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="logMsmqBinding" durable="true" exactlyOnce="true"
                 maxReceivedMessageSize="2147483647" receiveErrorHandling="Move">
          <security mode="Transport">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="Convolved.Logging.Service.DbLogService">
        <endpoint address="/"
                  binding="wsHttpBinding"
                  contract="Convolved.Logging.Contracts.ILogService"
                  name="logHttpEndpoint">
        </endpoint>
        <endpoint address="net.msmq://localhost/private/convolved.log.events"
                  binding="netMsmqBinding" bindingConfiguration="logMsmqBinding"
                  contract="Convolved.Logging.Contracts.ILogService"
                  name="logMsmqEndpoint">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8155/log"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="Log Event Processing Server" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message - %exception%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log-server.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message - %exception%newline" />
      </layout>
    </appender>
    <appender name="NHRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log-server.nhibernate.log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message - %exception%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message - %exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="Convolved.Logging">
      <level value="DEBUG"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Convolved.Hosting">
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="NHibernate">
      <level value="ERROR"/>
      <appender-ref ref="NHRollingLogFileAppender"/>
    </logger>
  </log4net>
  <applicationSettings>
    <Convolved.Logging.Service.Properties.Settings>
      <setting name="MergeSlidingTimeoutInterval" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="MergeFixedTimeoutInterval" serializeAs="String">
        <value>00:00:30</value>
      </setting>
    </Convolved.Logging.Service.Properties.Settings>
  </applicationSettings>
</configuration>